.NavContainer {
  background-color: white;
  padding: 30px 0px 30px 0px;
  border: 1px solid #BDBDBD;
}


.ContentArticle {
  display: flex;
  flex-direction: column;
  /* background-color: chocolate; */
}



.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 80px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 80px;
}



.profile-form {
  margin-top: 30px;
  margin-left: -60px;
  /* background-color: red; */
  display: flex;
  height: 100px;
}



.nickname-form {
  margin-top: 20px;
  margin-left: 60px;
}

.my-page {
  /* margin-top: 50px; */
  padding-top: 50px;
  padding-bottom: 100px;
  /* background-color: blue; */
}

.modi-user-info-section {
  display: flex;
  flex-direction: column;

}

.hide {
  display: none;
}