.userli {
    /* background-color: red; */
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 2;
    font-size: 16px;
    /* position: relative; */
    color: black;
  }
  
  .dkd {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
  }