.fdd {
    background-color: blueviolet;
     display: flex; 
  }
  
  .ContentImg1 {
    width: 800px;
    height: 900px;
    border: 1px solid;
  
   background-color :transparent;
    background-color: rgb(214, 150, 76); 
  }